.about {
    display: flex;
    flex-direction: column;
    align-items: center;


    display: flex;
    justify-content: center;

    h2 {
        margin-top: 50px;
    }




    .img-text {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            margin-left: 60px;
        }
    }

    .dan-container {
        border: 2px solid black;
        margin-left: 20px;
        width: 380px;
        display: flex;
        flex-direction: column;
        align-items: center;

    //     background: linear-gradient(#FCF6F5FF, #FCF6F5FF) padding-box,
    //     linear-gradient(to right, #2C5F2D, #97BC62FF) border-box;
    // border: 3px solid transparent;


        #dan-img {
            height: 400px;
            width: 90%;
            border: 2px solid black;
            margin-top: 17px;
        }

        .dan-titles {
            display: flex;
            flex-direction: column;
            align-items: end;
            width: 90%;
            margin: 10px 0 10px 0;
            font-size: larger;

            h4 {
                margin: 0;
            }

            h5 {
                margin: 0;
            }
        }

    }

    .bio {
        font-size: 30px;

        // Media Query for width
    }

    #creatures {
        text-align: center;
        margin-top: 100px;
        font-size: 40px;
    }

    .dog-section {
        display: flex;
        justify-content: space-around;



        .dog {
            // border: 1px solid black;
            width: 320px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 2px solid black;
            margin: 0 20px 0 20px;
            font-size: 20px;
 

            img {
                height: 300px;
                border: 2px solid black;
                width: 90%;
                margin-top: 14px;
            }

            h4 {
                margin: 10px 0 0 0;
            }

            p {
                text-align: center;
                margin: 5px 0 10px 0;
            }

        }


    }

    #interests {
        font-size: 40px;
    }

    .interests {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .interest-row {
            width: 100%;
            // max-width: 1200px; // Controls how many per row
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .interest {
                width: 400px; // Controls size of icon
                margin: 15px;
                display: flex;
                flex-direction: column;
                transition: transform 0.3s;


                // align-items: center;
                h4 {
                    text-align: center;
                    font-size: 30px;
                    margin: 0 0 10px 0;
                    background-color: transparent;
                }

                p {
                    margin: 0;
                    font-size: 25px;
                    background-color: transparent;
                }

                .list {
                    display: flex;
                    flex-wrap: wrap;
                    background-color: transparent;

                    p {
                        margin: 10px 20px 0 0;
                        background-color: transparent;
                    }
                }
            }
        }
    }


    .about-section {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            text-align: center;
            font-size: 40px;
            margin-bottom: 0;
        }

        .school {
            width: 75%;

            // WIll need a media query
            h4 {
                font-size: 30px;
                margin: 20px 0 0 0;
            }

            h5 {
                margin: 0;
                font-size: 25px;
                font-weight: 300;
            }

            p {
                margin: 10px 0 0 0;
                font-size: 25px;
            }
        }

    }
}

@media only screen and (min-width: 1000px) {
    .bio {
        width: 40%;
    }
}

@media only screen and (min-width: 481px) and (max-width: 999px) {
    .bio {
        width: 60%;
    }
}

@mixin backgroundSettings($url) {
    background: url($url);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FCF6F5FF;
}

// #nature {
//     &:hover {
//         h4 {
//             @include backgroundSettings($url: '/src/assets/about/nature.jpg');

//         }

//     }
// }

// #gaming {
//     &:hover {
//         h4 {
//             @include backgroundSettings($url: '/src/assets/about/gaming.png')
//         }

//     }
// }

@keyframes loadAboutDan {
    from {
        transform: translateY(100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    
    }
}

@keyframes loadAboutText {
    from {
        transform: translateX(100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes loadCooper {
    from {
        transform: translateX(-150px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes loadFreddie {
    from {
        transform: translateX(150px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.cooper {
    animation: loadCooper 1.5s forwards;
}
.freddie {
    animation: loadFreddie 1.5s forwards;
}

.loadAboutDan {
  animation: loadAboutDan 1.5s forwards;  
}

.loadAboutText {
 animation: loadAboutText 1.5s forwards;   
}

