.projects {
    display: flex;
    justify-content: center;

    .projects-container {
        width: 1000px;

        .single-project {
            display: flex;
            padding: 30px;

            align-items: center;
            justify-content: center;


            img {
                height: 35vh;
                width: 40vh;
                border-radius: 10px;
            }

            .project-text {
                display: flex;
                flex-direction: column;
                margin: 0 20px 0 20px;
                height: 35vh;

                // Media query for width based on screen size

                p {
                    margin: 10px 0 10px 0;
                    font-size: 25px;
                    transition: transform .3s;

                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 5;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &:hover {
                        cursor: pointer;
                        transform: scale(1.05);
                    }
                }

                h3 {
                    margin: 0;
                    font-size: 40px;
                }

                h4 {
                    margin: 5px 0 0 0;
                    font-size: 30px;
                }

                .project-links {
                    display: flex;

                    a {
                        margin: 0 10px 0 10px;
                        border: 1px solid black;
                        border-radius: 5px;

                        text-decoration: none;
                        font-size: 25px;
                        font-weight: bold;
                        padding: 5px;

                        color: black;
                        transition: transform .5s, background-color 0.5s ease, color 0.5s ease;

                        .overlay {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 0;
                            background-color: black;
                            transition: height 0.5s ease;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            overflow: hidden;

                            #button-img {
                                height: 35px;
                                width: 35px;
                                visibility: hidden;
                                border: none;
                                border-radius: 0;
                                opacity: 0;
                                transition: opacity 1s ease;
                                background-color: black;
                            }
                        }

                        &:hover {
                            color: #FCF6F5FF;
                            background-color: black;
                            transform: scale(1.2);

                            .overlay {
                                height: 100%;

                                #button-img {
                                    visibility: visible;
                                    opacity: 1;
                                }

                            }
                        }

                        p {
                            margin: 0;
                        }
                    }
                }
            }

        }
    }

}

#projects-title {
    text-align: center;
}
