@import './components/home.scss';
@import './components/color-schemes.scss';
@import './components/nav.scss';
@import './components/contact.scss';
@import './components/projects.scss';
@import './components/about.scss';
@import './components/footer.scss';

* {
    font-family: 'Dosis', sans-serif;
    background-color: #FCF6F5FF;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.divider {
    margin-bottom: 40px;
}

h2 {
   font-size: 50px;
   padding: 10px 0 10px 0;
   border-bottom: 5px solid black;

}