footer {
    color: #FCF6F5FF ;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;


    a {
        background-color: black;
    }
        .footer-icon {
            height: 15px;
            margin-left: 10px;
            background-color: black;

        }
    
}