
.hero {
    display: flex;
    justify-content: center;
    // border: 1px solid black;
    height: 20vh;
    .name-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1 {
            margin: 0;
            font-size: 70px
        };
        h3 {
            margin: 0;
            font-size: 25px;
        }
    }
};



.section-title {
    text-align: center;
}