@import './components/home.scss';
@import './components/color-schemes.scss';
@import './components/nav.scss';
@import './components/contact.scss';
@import './components/projects.scss';
@import './components/about.scss';

* {
    font-family: 'Dosis', sans-serif;
    background-color: #FCF6F5FF;
    scroll-behavior: smooth;
}